<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header class="header">
        <a class="header-logo" href="./index.html"></a>
        <a class="header-text" href="">Bookshelf</a>
        <a class="home-btn" target="_blank" href="">home</a>
        <a class="list-btn" target="_blank" href=""> Shopping list <svg class="basket"><use href=“#id”></use></svg></a>
        <div class="container">
            <input type="checkbox" id="chek">
            <label for="chek" class="button"></label>
        </div>
    </header>

</body>

</html>
