<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="hero-bookshelf">
    <div class="first-row">
      <ul><li></li>
      <li class="gallery-card"></li>
      <li></li>
      <li></li>
      <li></li></ul><button class="button-load">see more

      </button>
    </div>
    <div class="second-raw">
      <ul><li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li></ul><button class="button-load">see more

      </button>
    </div>
    <div class="third-row">
      <ul><li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li></ul><button class="button-load">see more

      </button>
    </div>
    <div class="fourth-ra">
      <ul><li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li></ul><button class="button-load">see more

      </button>
    </div>
  </div>
</body>
</html>
<div class="hero-container">
  <h1 class="hero-title">Best Sellers <span class="hero-accent">Books</span></h1>
  <ul class="hero-list"></ul>
</div>
