<div class="modal-backdrop is-open">
  <div class="add-modal">
    <button type="button" class="modal-close-btn">
      <svg class="modal-close-icon" width="16" height="16">
        <use href="./img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="pop-up">
      <div class="card">
        <img src="./" alt="Hello beautiful" class="image" />
        <div class="card-text">
          <h3 class="book-title">Hello beautiful</h3>
          <p class="book-author">Ann Napolitano</p>
          <p class="book-text">
            In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark past resurfaces as
            he gets to the know the family of his college sweetheart.
          </p>
          <div class="modal-icons">
            <a href="./">
              <img
                src="./img/png/amazon.png"
                class="amazon-icon"
                alt="Amazon"
                width="62"
                height="19"
              />
            </a>
            <a href="./">
              <img
                src="./img/png/Apple books.png"
                class="apple-books-icon"
                alt="Apple books"
                width="33"
                height="32"
              />
            </a>
          </div>
        </div>
      </div>
      <button type="button" class="modal-btn js-add-btn">Add to shopping list</button>
      <button type="button" class="modal-btn js-remove-btn visually-hidden">
        Remove from shopping list
      </button>
      <p class="modal-remove-text visually-hidden">
        Сongratulations! You have added the book to the shopping list. To delete, press the button
        “Remove from the shopping list”.
      </p>
    </div>
  </div>
</div>
