
.home-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111;
    border-radius: 36px;
    padding: 8px 16px;
    background: #eac645;
    }
    
    /* checkbox */
    .container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    }
    
    .button {
        background-color: #4C2EE8;
        box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
        width: 40px;
        height: 24px;
        border-radius: 200px;
        cursor: pointer;
        position: relative;
        transition: 0.2s;
    }
    
    .button::before {
        position: absolute;
        content: '';
        background-color: #fff;
        width: 17px;
        height: 17px;
        border-radius: 100px;
        margin: 1px;
        bottom: 3px;
        transition: 0.2s;
    }
    
    input:checked + .button{
        background-color: #4C2EE8;
    }
    
    input:checked + .button::before {
        transform: translateX(20px);
    }
    input {
        display: none;
    }
    